[Desktop Entry]
Type=Application
Exec=bash /usr/local/bin/git-indicator start
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[fr_FR]=Git-Indicator
Name=Git-Indicator
Comment[fr_FR]=
Comment=
